PROMPT.md
claude.md
*.env
.claude
.venv
__pycache__

# images
*images.py
frontend/public/img/experiences/*.jpg
frontend/public/img/restaurants/*.jpg
frontend/public/img/accommodations/*.jpg
frontend/public/img/flights/*.jpg
