DD_API_KEY=<DATADOG_API_KEY_HERE>
GOOGLE_GENAI_USE_VERTEXAI=0 # Set to 1 to use Vertex AI, 0 otherwise
GOOGLE_APPLICATION_CREDENTIALS=<PATH_TO_YOUR_SERVICE_ACCOUNT_JSON_FILE> # If Vertex AI is used, this should point to a service account JSON file with the necessary permissions
GOOGLE_CLOUD_PROJECT=<GOOGLE_CLOUD_PROJECT_HERE> # If Vertex AI is used, this should be set to your Google Cloud project ID
GOOGLE_GENAI_MODEL=<MODEL_NAME_HERE>
GOOGLE_API_KEY=<GOOGLE_API_KEY_HERE>